body {
}
.vendingMachine div.left
{
float:left;
	padding-left: 50px;
}
.vendingMachine div.clear{
clear: left;
padding-left: 50px;
}.vendingMachine div div {
	 margin-bottom: 10px;
 }
#UserPurse div span.nominalEntry {
	background-color: lightblue;	
}
#InsertedCoins {
	padding-top: 20px;
}
#Beverages div.checkBeverage {
	background-color: greenyellow;
	
}
#Beverages div.clickBeverage {
	background-color: red;	
}
.vendingMachine .error {
	color: red;
}